<h1>Add a Picture</h1>

<%= link_to("Back to Pictures", "/pictures") %>

<%= render 'picture_form', picture: @picture %>

<% if @picture.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
