body {
  color: #000;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  position: relative;

  a {
    color: #FFF;
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 100;
  }

  ul {
    list-style: none;
  }

  // container

  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30% 60% 10%;
    grid-template-areas:
      "header"
      "wrapper"
      "footer"
  }

  // header

  .header {
    background: #202020;
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo navbar";
    grid-template-columns: 1fr 1fr;
    position: relative;

    .logo {
      font-family: 'Exo', sans-serif;
      font-size: 75px;
      margin: 25px 25px;
      grid-area: logo;

      .header > a {
        color: #CCC;
      }

      span {
        color: #AAA;
      }
    }

    .navbar {
      color: #FFF;
      font-size: 1.3em;
      text-transform: uppercase;
      margin: 0 1em;
      grid-area: navbar;
      align-self: center;
      justify-self: end;

      a {
        border: solid 4px #000;
        border-radius: 5px;
        padding: 5px;
      }

      a:nth-child(1) {
        border: solid 4px #960000;
        transition: .5s;
      }

      a:hover {
        border: solid 4px #960000;
        transition: .5s;
      }

      h5 {
        color: #BBB;
        font-weight: 200;
        text-transform: none;
        position: absolute;
        bottom: 0;
        right: 2em;
      }
    }
  }

  // footer

  footer {
    background: #202020;
    color: #ccc;
    grid-area: footer;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    h5 {
      font-size: 1.5em;
      font-weight: 100;
      margin: 0.6em;
    }
  }
}
