$color-black: #000;
$color-transparent: rgba(255, 255, 255, .4);
$color-white: #FFF;

$font-family-exo:         'Exo', sans-serif;
$font-family-helvetica:   'Helvetica', sans-serif;
$font-family-quicksand:   'Quicksand', sans-serif;
