// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.navbar {
  grid-area: navbar;
  align-self: center;
  justify-self: end;
  a {
    color: #000;
  }
  a:hover {
    color: #ccc;
    transition: .5s;
  }
}

.label {
  font-family: 'Quicksand', sans-serif;
}


.header {
  grid-area: header;
  display: grid;
  grid-template-areas:
      "logo navbar";
  grid-template-columns: 1fr 1fr;
  a {
    color: #000;
  }
  .logo {
    font-family: 'Exo', sans-serif;
    font-size: 75px;
    margin: 25px 10px;
    grid-area: logo;
  }
  .navbar {
    margin: 0 1em;
  }
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 60% 10%;
  grid-template-areas:
    "header"
    "wrapper"
    "footer"
}

// wrapper sections

.index {
  background: #eee;
  padding: 3.5em;
  margin-top: 1em;
  a {
    color: #222;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 1em 0 0 1.2em;
  }
  h3 {
    font-size: 1em;
    font-weight: 200;
    margin: 0.2em 0 1em 1.4em;
  }
}

.show {
  background: #eee;
  padding: 2em;
  position: relative
  img {
  width: 100%;
  }
  a {
    color: #222;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    position: absolute;
    right: 3em;
  }
  h3 {
    font-size: 1em;
    font-weight: 200;
    margin: 1.5em 0 0 4em;
    position: absolute;
    right: 4em;
  }
}

// form

.form {
  text-align: center;
  input {
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 200px;
  }
  // input:nth-last-child(1) {
    // background: #333;
  // }
  h4 {
    font-weight: 200;
    margin: 0;
  }
  h4:nth-child(even) {
    margin: 0 0 0.5em 0;
  }
  h4:nth-last-child(1) {
    input {
      background: #888;
      color: #eee;
      margin: 1em;
    }
  }
}


footer {
  background: #000;
  color: #ccc;
  font-size: 1.5em;
  font-weight: 200;
  grid-area: footer;
  text-align: center;
}

@media only screen and (min-width: 1024px)  {

  .index {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0.25em;
  }

  .wrapper .single:nth-child(odd) {
    background: #ccc;
  }

  .show {
    border: solid black .05em;
  }
}
