// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Helvetica, sans-serif;
}

.logo {
  font-family: 'Exo', sans-serif;
  font-size: 50px;
  margin: 25px 10px;
}

.label {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ccc;
  transition: .5s;
}

.header {
  grid-area: header;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 60% 10%;
  grid-template-areas:
    "header"
    "wrapper"
    "footer"
}

img {
  width: 100%;
}

footer {
  grid-area: footer;
}

@media only screen and (min-width: 1024px)  {

  .wrapper {
    background: #eee;
    padding: 1em;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0.25em;
    grid-area: wrapper;

  }

  .wrapper > .single:nth-child(odd) {
    background: #ccc;
  }

  .single {
    border: solid black .05em;
  }
}
